<launch>
  <arg name="slam_methods" default="gmapping"/>
  
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="model" value="burger" />
    <arg name="slam_methods" value="$(arg slam_methods)" />
  </include>
  
  <node name="sensor_interface" pkg="turtlebot3_explorer" type="sensor_interface" output="screen">
    <param name="map_frame" value="map" />
    <param name="robot_frame" value="base_footprint" />
  </node>
  
  <node name="map_processor" pkg="turtlebot3_explorer" type="map_processor.py" output="screen"/>
  
</launch>